*Thank you {{ .City }}*!

Terima kasih semua temen-temen yang telah hadir di {{ .Name }}. Berikut adalah slide & video untuk masing-masing pembicara:

{{ range .Speakers }}• {{ .Name }}, {{ .Position }} @ {{ .Company }} [[Slide]({{ .SlideURL }})] [[Recording]({{ .VideoURL }})]
{{ end }}
*Sponsor:*
{{ range .Sponsor }}• [{{ .Name }}]({{ .URL }})
{{ end }}
Jika ada teman-teman yang tertarik untuk speak up di meetup ataupun membantu host meetup Kubernetes & Cloud Native, langsung saja kontak admin di grup ini.

Thank you!

