*{{ .Title }}*
*{{ .Date }}*

*Technical:*
{{ range .Data }}{{ if eq .Type "The Technical" }}• [{{ .Title }}]({{ .Link }})
{{ end }}{{ end }}

*Editorial:*
{{ range .Data }}{{ if eq .Type "The Editorial" }}• [{{ .Title }}]({{ .Link }})
{{ end }}{{ end }}

*Headlines:*
{{ range .Data }}{{ if eq .Type "The Headlines" }}• [{{ .Title }}]({{ .Link }})
{{ end }}{{ end }}

This information is gather from kubeweekly.io
Cloud Native Indonesia Community

